.list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.tier-container {
  width: 800px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tier {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;
  flex-direction: row;
  background-color: #c5c5c5;
}

.tier-name{
  width: 135px;
  display: flex;
  border-right: 2px solid #000000;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-family: "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
}